body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: Baloo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2em;
    display: inline-block;
    padding: 1em;
    /* max-width: 500px;
    margin: 30px auto; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(186, 248, 86);
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

#increment-btn {
    background: rgb(156, 41, 41);
}

#reduce-btn {
    background: rgb(56, 56, 155);
}

#save-btn {
    background: rgb(28, 110, 28);
}

#count-el{
    color: rgb(253, 255, 157);
}

#save-el {
    color: rgb(253, 255, 157);
}

#total-el {
    color: rgb(253, 255, 157);
}
